{% for comment in post.comments %}
<div class="comment" id="comment-{{comment.id}}">
  <section class="comment__parent">
  {# {{comment.content}} #}
        <header class="comment__commenter">
            <div class="comment__avatar ">
                <span>{{comment.author.name|first}}</span>
            </div>
            <div class="comment__info">
            <div class="comment__author">{{comment.author.name}}</div>
                <div class="comment__date">{{comment.date}} at {{ comment.time }}</div>
            </div>
        </header>
        <div class="comment__content">
            <p>{{comment.content}}</p>
        </div>
        <span class="comment__reply" data-commentid="{{comment.id}}">Reply</span>
    </section>
</div>
{% endfor %}