{% extends "base.twig" %}

{% block header %}
  <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" rel="stylesheet" />
{% endblock %}

{% block content %}
  <main role="main">
    <article
      class="flex-container wrapper">
      <!-- Hero & Post Wrapper -->
      <div
        class="content">
        <!-- Hero -->
        {% if post.thumbnail.src %}
          <section class="hero">
            <img class="hero__image" alt="post-css-position" src="{{post.thumbnail.src}}">
          </section>
        {% endif %}

        <!-- Post Content -->
        {% if post.type == 'page' %}
          <section class="post post__page" id="post">
          {% else %}
            <section class="post" id="post">
            {% endif %}


            <h1>{{post.title}}</h1>
            {% if post.type != 'page' %}
              <div class="post__meta">
                Last updated on
                {{post.modified_date}}
                at
                {{post.modified_time}}, by
                {{post.author}}
              </div>
            {% endif %}

            <div class="post__content">
              {{post.content}}
            </div>

          </section>

          {% if post.type == 'post' %}
            <section class="comments" id="comments">
              <header>
                <h3>Comments</h3>
              </header>

              {{ function('comments_template') }}
            </section>
          {% endif %}
        </div>
        {% include 'sidebar.twig' %}
      </article>
    </main>
  {% endblock %}

  {% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js" integrity="sha256-NFZVyNmS1YlmiklazBA+TALYJlJtZj/y/i/oADk6CVE=" crossorigin="anonymous"></script>

    {% if post.type == 'post' %}
      <script src="{{theme.link}}/static/site.js"></script>
    {% endif %}
  {% endblock %}